@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

::-moz-selection { /* Code for Firefox */
    color: #F58145;
    background: #D6EEFC;
}
  
::selection {
    color: #F58145;
    background: #D6EEFC;
}

/*Muda o tamanho padrão de fonte*/
html{
    font-size: 62.5%;
}

/*Padroniza a familia e cor do texto*/
html,
body{
    font-family: 'Poppins', sans-serif;
    color: #0A344F;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/*Todo o texto da página terá 16px*/
body{
    font-size: 1.6rem;
}

/*========================
Aqui começa o cabeçalho
==========================*/

/*Organiza o tamanho e organização do cabeçalho*/
header .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 100%;
    z-index: 1000;
}



/*Tamanho e espaçamento da logo*/
header img{
    width: 250px;
    padding: 15px 0;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: #0A344F;
    font-family: 'Cormorant Garamond', serif;
    text-transform: lowercase;
    font-weight: bolder;
    font-size: 2.2rem;
    padding: 2.4rem;
}

header nav ul li a:hover{
    color: #F58145;
}

/*=======================
Aqui termina o cabeçalho
=========================*/

/*Padrões para os titulos*/
h2{
    font-size: 3.6rem;
    line-height: 4.6rem;
}
h3{
    font-size: 2.8rem;
    line-height: 3.8rem;
}

/*Botões Receba sua planilha já!*/
.btn{
    display: inline-block;
    background-color: #F58145;
    color:#420F0B;
    font-weight: 600;
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 15px 0px 0px;
    padding: 12px 30px;
    border-radius: 50px;
    box-shadow: 5px 3px 10px #C26738;
}

.btn:hover{
    box-shadow: 5px 3px 10px #F58145;
}

/*Input email*/
legend{
    margin-top: 20px;
}
input[type=email]{
    width: 305px;
    height: 35px;
    padding: 0 15px;
    border-radius: 50px;
    border: none;
    background: #F2F2F2;
    box-shadow: inset 5px 3px 15px rgba(190, 209, 221, 0.5);
}

/*======================
Aqui começa a seção Hero
========================*/
section.hero img{
    width: 780px;
}

section.hero .container{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}

section.hero .container .textBx{
    max-width: 500px;
    margin: 110px 0;
}

section.hero p{
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin: 20px 0 50px 0;
}

/*===========================
Aqui termina a seção Hero
============================*/

/*==================================
Aqui começa a seção dos benefícios
====================================*/
.services{
    background: linear-gradient(266.71deg, #5EBFFB 31.25%, #30A8F2 84.98%), #30A8F2;
    text-align: center;
}

.heading h3{
    padding: 50px 0;
}

.services .content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 50px;
    width: 100%;
}

.services .content .servicesBx{
    max-width: 250px;
    min-width: 100px;
    margin: 20px;
    transition: 0.5s;
    cursor: pointer;
    padding: 10px;
    height: 250px;
}

.services .content .servicesBx:hover{
    box-shadow: 0px 10px 10px #298FCE;
    height: 250px;
}

.services .content .servicesBx img{
    margin-bottom: 10px;
    background-color: #298FCE;
    border-radius: 30px;
    box-shadow: 0px 10px 10px #2786C1;
}

/*==================================
Aqui termina a seção dos benefícios
====================================*/

/*==================================
Aqui começa a seção vídeo
====================================*/

.video{
    width: 100%;
    margin: 150px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video iframe{
    width: 450px;
    height: 233px;
    border-radius: 15px;
}

.contentBx{
    width: 450px;
    text-align: center;
    margin-left: 120px;
}

.contentBx h3{
    margin-bottom: 10px;
}

.contentBx p{
    margin: 20px 0;
}

/*========================
Aqui termina a seção vídeo
==========================*/

/*========================
Aqui começa a seção antihero
==========================*/

section.antihero img{
    width: 520px;
    height: 100%;
}

section.antihero .container{
    width: 100%;
    margin-bottom: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.antihero .container .textBx{
    max-width: 500px;
    margin: 110px 0;
}

section.antihero p{
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin: 20px 0 50px 0;
}

/*Footer*/
footer{
    position: absolute;
    bottom: -1;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #DAF1FF 0%, rgba(219, 242, 255, 0.969105) 0.01%, #D6EEFC 48.33%, rgba(255, 255, 255, 0) 100%), #61C5FF;
    height: auto;
    width: 100%;
    padding-top: 40px;
}
.footerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footerContent h3{
    font-weight: 400;
    text-transform: capitalize;
    line-height: 2em;
}
.footerContent p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 1.8rem;
}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.social li{
    margin: 0 10px;

}
.social a{
    text-decoration: none;
}

.footerBottom{
    background-color: #61C5FF;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.footerBottom p{
    font-size: 1.6rem;
    word-spacing: 2px;
}